[Unit]
Description=Mlai Lab Backend Service
After=network.target mysql.service docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/Mlai-lab/backend
ExecStart=/usr/bin/python3 /root/Mlai-lab/backend/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
